.post-container {
    background-color: #ffffff;
    box-shadow: $std-box-shadow;
    border-radius: $std-border-radius;
  
    .post {
      border-bottom: 1px solid $light-gray;
    }
  
  }
  
  #comments {
    .comment {
      padding: 1em;
      color: $dark-text-color;
      border-bottom: 1px solid $light-gray;
      white-space: pre-line; 
    }
  
    .comment-author {
      font-weight: bold;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
    }
  
    .comment-date {
      margin-top: 0.3em;
      font-size: 0.9em;
      color: $light-text-color;
    }
  }
  
  #create-comment {
    padding: 1em;
    display: flex;
  
    #comment-body {
      flex-grow: 1;
      resize: none;
      border: none;
      outline: none;
      margin-top: 0.3em;
      height: 1em;
    }
  
    #comment-submit {
      background: $primary-blue;
      border: none;
      padding: 0;
      color: white;
      border-radius: 100%;
      width: 2em;
      height: 2em;
      margin-left: 1em;
      align-self: center;
  
      img {
        height: 14px;
        width: 14px;
      }
  
    }
  }
  
  #comments-error {
    padding: 1em;
  }
  