section {
  margin-bottom: 1rem;
}

@each $type in post, comment {
  #create-#{$type} {
    label {
      display: block;
      margin-bottom: 1rem;
    }

    input, textarea {
      display: block;
    }
  }

  #no-#{$type}s, ##{$type}s-error, #create-#{$type}-error {
    display: none;
  }
}
